 body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
 }

p, h1, button{
   position: relative;
    z-index: 10;
}



button {
    width: 10rem;
    height: 3rem;
    background-color: orange;
    border-radius: 3rem;
    border: none;
    margin-bottom: 1rem;
}

p {
    padding: 3rem;
    
}

.bakgrund {
    background-color: orange;
    width: 80%;
    height: 30rem;
}